<div class="d-flex flex-row justify-content-center align-items-center" style="height: 75vh;">
    <div style="border-radius: 30px;
background: #d5d9e2;
box-shadow:  35px -35px 70px #b5b8c0,
             -35px 35px 70px #f5faff;width: 23rem; height: 21rem;;">
        <div class="card-body d-flex flex-column align-items-center justify-content-between"
            style="color: #252525; padding: 25px;height: 100%;">
            <h3 class="card-title">Log In</h3>
            <form action="/login" method="post" class="d-flex flex-column">
                <div class="mb-4 row">
                    <label for="staticEmail" class="col-sm-5 col-form-label">Email</label>
                    <div class="col-20 px-3">
                        <input type="email" class="form-control outline-red" name="email" id="staticEmail"
                            placeholder="name.surname@technostacks.com">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Password</label>
                    <div class="col-20 px-3">
                        <input type="password" class="form-control" name="password" id="inputPassword"
                            placeholder="$Surname@number!">
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
</div>