<div class="d-flex flex-row justify-content-center align-items-center" style="height: 75vh;">
    <div style="border-radius: 30px;
background: #d5d9e2;
box-shadow:  35px -35px 70px #b5b8c0,
             -35px 35px 70px #f5faff;width: 23rem; height: 21rem;;">
        <div class="card-body d-flex flex-column align-items-center justify-content-between" style="color: #252525; padding: 25px;height: 100%;">
            <!-- <h1>Log In</h1> -->
            <form id="loginForm" action="/login" method="post">
                <h3 class="card-title">Log In</h3>
                <label for="email">Email:</label>
                <input type="email" name="email" id="staticEmail" />
                <label for="password">Password:</label>
                <input type="password" name="password" id="staticPassword" />
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>
