<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('./partials/head.ejs') %> 
</head>
<body style="background-color: #d5d9e2;">
   <nav>
      <%- include ('./partials/navbar.ejs', {user:{name:"testUser"}}) %> 
   </nav>
   <main>
      <%- include ('./partials/login.ejs') %>

   </main>

</body>
</html>