<nav class="navbar bg-light">
<div class="container-fluid">
    <a class="navbar-brand"><h2>Technostacks</h2></a>
    <span class="d-flex" role="loggerdInUser">
        <% if (user) { %>
         <h3><%= user.name %> </h3>
        <% } %>
    </span>
</div>
</nav>